<div class="col-md-8 col-md-offset-2" style="box-shadow:2px 2px 5px #800000;">

<h2>Edit Genre</h2>

<%= simple_form_for @genre, :html => { :multipart => true } do |f| %>
<%= f.input :name, label: "Genre name" %>
<%= f.input :description %>
<%= f.button :submit %>
<% end %>
<br>
</div>
