
<h1 class="current-genre"><small><%= params[:genre] %></small></h1>

<% if @films.count == 0 %>
<h1><small>Films currently not available in this Genre</small></h1>
<% else %>
<% @films.each do |film| %>
<!---looping through all the books defined in the index function in the films controller-->
<a class href="/films/<%= film.id %>">
  <%= image_tag film.film_img.url(:film_index) %>
</a>
<% end %>
<% end %>
