
<%= simple_form_for([@film, @film.reviews.build]) do |f|  %>
<!---Checking for errors then looping through to display each error-->
<% if @review.errors.any? %>
<h3>Errors</h3>
<ul>
<% @review.errors.full_messages.each do |message| %>
<li>
  <%= message %>
</li>
<% end %>
</ul>
<% end %>
<div id="rating-form">
  <label>Rating</label>
</div>
<%= f.input :comment %>
<%= f.button :submit %>
<% end %>

<script>
  $('#rating-form').raty({
    path:'/assets/',
    scoreName: 'review[rating]'
  });
</script>
