<div class="col-md-8 col-md-offset-2" style="box-shadow:2px 2px 5px #800000;">

<h2>Edit Review</h2>

<%= simple_form_for([@film, @review]) do |f| %>
<div id="rating-form">
  <label>Rating</label>
</div>
<%= f.input :comment %>
<%= f.button :submit %>

<% end %>
<br>
</div>
<script>
  $('#rating-form').raty({
    path:'/assets/',
    scoreName: 'review[rating]'
  });
</script>
