<div class="col-md-8 col-md-offset-2" style="box-shadow:2px 2px 5px #800000;">

<h2>Edit Review</h2>

<%= simple_form_for([@film, @review]) do |f| %>
<!---Checking for errors then looping through to display each error-->
<% if @review.errors.any? %>
<h3>Errors</h3>
<ul>
<% @review.errors.full_messages.each do |message| %>
<li>
  <%= message %>
</li>
<% end %>
</ul>
<% end %>
<div id="rating-form">
  <label>Rating</label>
</div>
<%= f.input :comment %>
<%= f.button :submit %>

<% end %>
<br>
</div>

<!-- Jquery Plugin -->
<script>
  $('#rating-form').raty({
    path:'/assets/',
    scoreName: 'review[rating]'
  });
</script>
